{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{character.character_name}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#if editMode}}
    {{#card.content}}
      <p><b>Health</b></p>
      {{paper-input type='number' label="Current Health"
      value=character.current_health onChange=(action (mut
      character.current_health))}}
      {{paper-input type='number' label="Max Health"
      value=character.max_health onChange=(action (mut
      character.max_health))}}
    {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(perform updateCharacter)}}
      {{if updateCharacter.isRunning 'Saving...' 'Save'}}
    {{/paper-button}}
    {{#paper-button onClick=(action "reset")}}
      Cancel
    {{/paper-button}}
  {{/card.actions}}
  {{else}}
    {{#card.content}}
      <p><b>Health</b>: {{character.current_health}}/{{character.max_health}}</p>
    {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action "editCharacter")}}
      {{paper-icon "edit"}} Edit
    {{/paper-button}}
  {{/card.actions}}
  {{/if}}
{{/paper-card}}


