{{#paper-dialog fullscreen=fullscreen class="dialogBox"}}

    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
      {{#if (eq type 'friendly')}}
        <h2>Friendly Character</h2>
        {{else if (eq type 'enemy')}}
          <h2>Enemy Encountered</h2>
        {{else}}
          <h2>Other Info</h2>
      {{/if}}
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action closeAction)}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

  {{#paper-dialog-content}}
      {{paper-input class="modal-input" label="Title" value=nameValue onChange=(action (mut
      nameValue))}}<br>
       {{trix-editor class="trix-editor-wrapper"
                editorClass="trix-editor"
                value=descriptionValue
                trix-attachment-add=(action "handleTrixAction")
                trix-attachment-remove=(action "handleTrixAction")
                trix-blur=(action "handleTrixAction")
                trix-change=(action "handleTrixAction")
                trix-file-accept=(action "handleTrixAction")
                trix-focus=(action "handleTrixAction")
                trix-initialize=(action "handleTrixAction")
                trix-selection-change=(action "handleTrixAction")}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
      {{#paper-button raised=true primary=true click=(action handleSubmit
        nameValue descriptionValue)}}Submit{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
