{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>{{infoType}}</h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true click=(action new)}}
      {{paper-icon "add-circle"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-list}}
  {{#each list as |item|}}
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
      </div>
      {{paper-divider}}
      {{#paper-button click=(action deleteItem item)}}Delete{{/paper-button}}
    {{/paper-item}}
  {{/each}}
{{/paper-list}}

