<h2>{{infoType}}</h2>
{{paper-input label=name value=nameValue onChange=(action (mut nameValue))}}
{{paper-input label="Description" value=descriptionValue onChange=(action (mut
descriptionValue))}}<br>
{{#paper-button raised=true primary=true onClick=(action "submit")}}Submit{{/paper-button}}

<ul>
  {{#each list as |item|}}
    <li>{{item.name}}: {{item.description}}</li>
  {{/each}}
</ul>
